@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");

.Product {
  padding: 1.5rem 1.7rem;
  border-radius: 1.2rem !important;
}

.ProductTitle {
  margin: 0 0 0.4rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.ProductHeader {
  display: flex;
}

.IngredientList {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  width: 90%;
  display: block;
  margin: 0.5rem 0;
}

.IngredientListWrap {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  width: 90%;
  display: block;
  margin: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductDeleteBtn {
  margin-right: 0;
  margin-left: auto;
}
